@font-face {
    font-family: 'Holos';
    src: url('Holos-Bold.woff2') format('woff2'),
        url('Holos-Bold.woff') format('woff'),
        url('Holos-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grunt Grotesk';
    src: url('GruntGrotesk-Bold.woff2') format('woff2'),
        url('GruntGrotesk-Bold.woff') format('woff'),
        url('GruntGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IT Gaby Play 2023';
    src: url('ITGabyPlay2023-Expanded.woff2') format('woff2'),
        url('ITGabyPlay2023-Expanded.woff') format('woff'),
        url('ITGabyPlay2023-Expanded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

